body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url('https://bapharia.com/images/cursor.png'), default;
}

.hover-icon-rotate .icon-rotate {
  transition: transform 0.3s;
  animation: rotate 2s linear infinite;

}




@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}